*{
    box-sizing: border-box;
}
body {
    margin: 0px;
}
img {
    width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}
a{
   text-decoration: none;
}
ul, ol {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
}
input, button {
    box-shadow: none;
    outline: none;
}
/* header css start */
.image-1{
    width: 100%;
    overflow: hidden;
    height: 650px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    object-fit: cover;
}
.logo{
    width: 150px;
    top: 50px;
    position: absolute;
    left: 700px;
}
.item_name{
    color:rgb(39, 111, 211);
    position: absolute;
    top:110px;
    left:820px;
}
.heading{
    position: absolute;
    top:600px;
    left:200px;
    right: 200px;
}
.container .info1{
    background-color: rgb(51, 92, 150);
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    border-radius: 40px 0px;
    color: white;
    font-size: 60px;
    margin: 0px 250px;
    font-weight: bolder;
}
.container .info2{
    background-color: rgb(97, 185, 185);
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin: 0px 300px;
    font-size: 30px;
}
/* section css start */
.full_data{
    padding-top: 100px;
    padding-left: 150px;
 }
.circle{
    font-size: 50px;
    color: gray;
}
.about_us_heading{
    color: rgb(51, 92, 150);
    font-size: 30px;
}
.us{
    font-size: 45px;
}
.about_us{
    color:rgb(51, 92, 150);
    padding-bottom: 20px;
    padding-right: 100px;
    border-bottom: 1px solid gray;
}
.about_us_secondheading{
    color: rgb(51, 92, 150);
    text-align: right;
    font-size: 30px;
    padding-left: 550px;
    line-height: 1;
    padding-top: 10px;
    padding-bottom: 18px;
}
.symbol{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.iamge_data{
    text-transform: uppercase;
    color: rgb(51, 92, 150);
}
.line{
    border-bottom: 1px solid rgb(51, 92, 150);
}
.personal_details{
    color: rgb(51, 92, 150);
    padding-top: 30px;
}
.icon{
    background-color: rgb(51, 92, 150);
    color: white;
    border-radius: 50%;
    text-align: center;
    padding: 0px 5px;
    margin-left: 15px;
}
.details{
    padding-left: 110px;
    color:rgb(51, 92, 150);
    font-size: 20px;
}
.link{
    padding-left: 20px;
    padding-right: 400px;
    color:rgb(51, 92, 150) ;
}
.icon{
    background-color: rgb(51, 92, 150);
    color: white;
    border-radius: 50%;
    text-align: center;
    padding: 0px 5px;
    margin-left: 15px;
}
/* about part css */
.about{
    width: 70%;
    height: 215px;
    padding-left: 50px;
    box-shadow: 20px 10px 0px -10px rgb(51, 92, 150);
    border-bottom-right-radius: 20px;
}
.our_services{
    text-transform: uppercase;
    font-size: 30px;
    background-color:rgb(51, 92, 150);
    color: white;
    margin-right: 50px;
    border-top-left-radius: 50px;
    text-align: right;
    padding: 15px 40px 15px 0px;
}
.our{
    color: white;
    background-color:rgb(97, 185, 185);
    text-align: right;
    /* padding: 0px 15px 80px 0px; */
    padding-left: 100px;
    padding-right: 35px;
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 70px;

}
.our_heading{
    padding-top:18px;
}
.our_contant{
    padding-top: 5px;
}
.our_data{
    padding-left: 30px;
    padding-top: 120px;
    position: relative;
}
.qr_code{
    position: absolute;
    bottom: 0px;
    width: 100px;
    height: 100px;
    border:10px solid rgb(51, 92, 150);
    border-radius: 10px 0px;
}
.all{
    margin-top: -25px;
}